/* FONTS  */

@font-face {
    font-family: CochinBold;
    src: url('../fonts/CochinBold.ttf') format('ttf');
}

@font-face {
    font-family: CochinRegular;
    src: url('../fonts/CochinRegular.ttf') format('ttf');
}

@font-face {
    font-family: Futura;
    src: url('../fonts/Futura.ttf') format('ttf');
}

@font-face {
    font-family: FuturaBold;
    src: url('../fonts/FuturaBold.ttf') format('ttf ');
}

@font-face {
    font-family: FuturaMedium;
    src: url('../fonts/FuturaMedium.ttf') format('ttf');
}


/* main page  */

.logo img {
    max-width: 100%;
}

.log-mainwrp{
    display: none;
    }
    button:hover,
a:hover {
cursor: pointer;
text-decoration: none;
color: inherit;
transform: scale(0.93);
transition: 0.2s;

}
button,
a {

transition: 0.2s;

}

a {
    color: black;
}

.another-bg{
background-image: url(../img/bg_login.jpg) !important;
}

.header {
    border: 1px solid #707070;
    background-color: #d05656;
    padding: 20px 14px 15px 16px;
}

.info-item img {
    max-width: 80px;
}

.header-txt {
    color: #ffffff;
    font-family: Cochin;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: -20px;
    margin-left: 33px;
    max-width: 372px;
}

.sign-in {
    color: #ffffff;

    font-size: 18px;
    font-weight: 500;
    border-radius: 44px;
    border: 1px solid #707070;
    background-color: #ff9b9b;
    padding: 11px 32px 8px 32px;
}

.nav-wrp {
    background-color: rgba(0, 0, 0, 0.25);
    padding: 12px;
}

.nav-wrp a {
    color: #000000;

    font-size: 18px;
    font-weight: 500;
    margin-right: 35px;
}

.main-contain {
    background-image: url(../img/main_bg.png);
    background-size: cover;
    padding-bottom: 30px;
}

.info-item {
    max-width: 223px;
    margin-right: 15px;
    font-family: FuturaBold;
}

.info-item .info-txt {
    color: #ffffff;
    font-family: Futura;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    font-family: FuturaBold;
}

.info-item .info-title {
    color: #ffffff;
    font-family: Futura;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    font-family: FuturaBold;
}

.info-item img {
    margin: 0 auto;
    display: block;
}

#video iframe {
    height: 258px;
    width: 376px;
}

.maim-title {
    max-width: 425px;
    font-size: 26px;
    color: #ffffff;
    font-family: CochinRegular;
}

.main-txt,
.main-text-link {
    max-width: 425px;
    color: #ffffff;
    font-family: CochinRegular;
    font-size: 18px;
}

.main-text-link a {
    color: white;
    text-decoration: underline;
}

.main-content {
    margin: 103px 0;
    padding-right: 20px;
}

.footer {
    border: 1px solid #707070;
    background-color: #d05656;
    padding: 22px 25px;
    font-family: FuturaMedium;
    font-weight: bold;
}

.footer * {
    color: #ffffff;
    font-size: 14px;
}

.title_footer {
    font-weight: bold;
    margin: 0;
    font-family: Futura;
}

.hidden {
    display: none !important;
}

.wrapper_video {
    width: 100%;
    transform: scale(0.8);
    margin-top: -40px;
}

.video-youtube {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.video-youtube.video-youtube_overlay:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 5;
}

.video-youtube .video-youtube__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/video.bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.video-youtube .video-youtube__content.video-youtube__content_hide-origin-play-btn {
    width: 10000%;
    height: 10000%;
    -webkit-transform: scale(0.01);
    transform: scale(0.01);
    -webkit-transform-origin: top left;
    transform-origin: top left;
}

.video-youtube .video-youtube__content.video-youtube__content_hide-origin-play-btn::-moz-selection {
    background-color: transparent;
}

.video-youtube .video-youtube__content.video-youtube__content_hide-origin-play-btn::selection {
    background-color: transparent;
}

.video-youtube .video-youtube__new-play-btn {
    max-width: 153px;
    max-height: 153px;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    background-image: url(../img/play.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
    cursor: pointer;
}

/* login page  */
.log_page_nav{
    background-color: #ff9b9b;
}
.log-content{
    background-image: url(../img/bg_login.jpg);
    background-size: cover;
    padding-bottom: 30px;
  

}

.form-log{
    display: flex;
    flex-direction: column;
 
    background-color: rgba(0, 0, 0, 0.33);
    padding: 35px 40px 15px 40px;
  margin: 0 auto;
}
.form-log p{
    color: #ffffff;
   
    font-size: 18px;
    font-weight: 500;
}
.form-log input{
    width: 100%;
    outline: none;
    border: none;
    height: 45px;
    padding-left: 15px;
}
.form-log a{
    text-align: center;
}
.forgot{
    margin-top: 20px;
    display: block;
}

.submit_form{
    color: #ffffff;
    font-family: Futura;
    font-size: 18px;
    font-weight: 500;
    border-radius: 44px;
    border: 1px solid #707070;
    background-color: #ff9b9b;
    padding: 11px 32px 8px 32px;
    margin-top: 20px;
    width: 80%;
    margin: 0 auto;
    display: block;
    margin-top: 25px;
}

.form-header{
    background-color: #d05656;
    margin-top: 110px;
    color: #ffffff;
    padding: 17px 0 17px 15px;

font-size: 18px;
font-weight: 500;
text-transform: uppercase;
}
.form-footer
  {
 height: 60px;
    background-color: #d05656;
    margin-bottom: 110px;
}
/* login page  */

/* account page  */

.name_header{
    text-transform: uppercase;
    padding-top: 13px;
  
}
.acount-wrapper p{
    margin: 0;
    color: #ffffff;
    padding-right: 12px;
font-size: 18px;
font-weight: 500;
text-align: right;

}

.account-header{
    text-align: center;
    color: #000000;

font-size: 32px;
font-weight: 700;
text-transform: uppercase;
padding-top: 70px;
padding-bottom: 25px;
}

.col-title-acount{
    color: #000000;

font-size: 23px;
font-weight: 700;
text-transform: uppercase;
padding-bottom: 15px;
}

.col-txt{
    color: #3b8caa;

font-size: 14px;
font-weight: 500;
}

.col-txt-bold{
    color: #000000;

font-size: 18px;
font-weight: 500;
}

.col-txt-light{
    color: #000000;

    font-size: 12px;
    font-weight: 500;
}

.go_to_news{
    color: #3b8caa;

    font-size: 15px;
    font-weight: 500;  
}


.acount-info p{
    margin: 0;
}

.go_to_news{
    margin-top: 6px;
}


.middle-box{
    border-left:1px solid #707070;
    border-right : 1px solid #707070;
}

.name-massage{
    color: #000000;
padding-top: 8px;
font-size: 18px;
font-weight: 500;
text-transform: uppercase;
}

.name-massage span{
    font-size: 13px;
    padding-left: 10px;
}

.col-txt-massage{
    font-size: 12px;
    color: #000000;
    padding-top: 8px;
    padding-bottom: 10px;
}

.acount-info .col-xl-4{
    padding: 0px 30px;
}

.account-cont{
    padding-bottom: 100px;
    background-image: url(../img/accont-bg.png);
    background-size: cover;
}

.help-cont{
    margin-top: 150px;
    display: flex;
    align-items: center;
    color: #000000;
text-align: right;
font-size: 18px;
font-weight: 500;
margin-right: 50px;
}

.help-cont img{
    width: 90px;
   margin-left: 40px;
}

.help-btn {
    cursor: pointer;
}

.resp{
    color: #3b8caa;

    font-size: 15px;
    font-weight: 500;  
}

.mail-user {
    color: #707070!important;
    border-bottom: 1px solid #707070;
    padding-bottom: 10px;
}

.settings-parent {
    position: relative;
}

.settings-account {
    display: none;
    flex-direction: column;
    background: #ffffff;
    padding: 20px 10px;
    text-align: center;
    border: 1px solid #707070;
    font-size: 18px;
    position: absolute;
    right: 1%;
    top: 100%;
    z-index: 999;
}

.settings-account a {
    color: black;
    padding-top: 5px;
}

.ask-parent {
    position: relative;
}

.ask-pannel {
    position: absolute;
    right: 12%;
    bottom: 0%;
    background: white;
    border: 1px solid #707070;
    padding: 20px 0px 23px 19px;
    text-align: left!important;
}

#help-me {
    display: none;
}

.ask-pannel a {
    display: flex;
    color: black;
    padding: 15px 0;
    margin-right: 50px;
}

.ask-pannel a img {
    margin-right: 10px;
    margin-left: 10px;
}

.ask-pannel h4 {
    font-size: 23px;
    font-weight: 700;
}

.ask-pannel p.human-name {
    font-size: 18px;
    padding-top: 15px;
    font-weight: 400;
    margin-bottom: 5px!important;
}

.ask-pannel p.online {
    font-size: 14px;
    font-weight: 700;
}

.ask-pannel p.current {
    font-size: 12px;

}

.form-ask {
   display: none;
}

.arrow {
    position: absolute;
    right: 18px;
    top: 28px;
    display: none;
}

.arrow p:nth-child(1){
    border-top: 1px solid black;
    transform: rotate(-45deg);
    width: 15px;
    margin-bottom: 10px;
}

.arrow p:nth-child(2){
    border-bottom: 1px solid black;
    transform: rotate(45deg);
    width: 15px;

}

.operator {
    display: flex;
    align-items: baseline;
}

.operator img {
    width: 40px;
    margin-left: 0px;
}

.operator-name {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.operator .human-name-chat {
    font-size: 18px;
    font-weight: 400;
}

.operator .online-chat {
    font-size: 14px;
    padding-left: 10px;
    font-weight: 700;
}

.chat {
    min-height: 174px;
    min-width: 374px;
    background: #E5E5E5;
    border: 1px solid #707070;
    margin-right: 7px;
    margin-top: 10px;
}

.chat-form input[type="text"] {
    width: 85%;
    margin-top: 10px;
    border: 1px solid #707070;
}

.chat-form input[type="submit"] {
    background: url(../img/btn.png) 50% 50% no-repeat;
    background-size: contain;
    height: 50px;
    border: none;
    width: 10%;
    vertical-align: top;
    cursor: pointer;
}

/* my profile  */

.badges-box {
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: space-around;
    background: #F4EEEE;
    padding: 6px 0;
    width: 800px;
}

.badges {
    display: flex;
    align-items: center;
}

.badges img {
    width: 50px;
}

.badges p {
    font-size: 12px;
    margin: 0;
    font-weight: 700;
}

.badges h4 {
    font-size: 18px;
    font-weight: bold;

}

.profile {
    font-size: 24px;
}

.cup-comp {
    color: #43A784;
}

.profile-box {
    display: flex;
}

.profile-top {
    margin-top: 16px;
    align-items: center;
}

.our-coments a{
    font-size: 16px;
    color: white;
    background: #D05656;
    border: 1px solid #707070;
    border-radius: 15px;
    padding: 5px 15px;
}

.our-coments a:hover {
    background: #FAC2C2;
}

.marg-pad-0 {
    margin: 0;
    padding: 0;
}

.nav-item {
    display: flex;
}

.nav-item .active {
    border-bottom: 3px solid black;
}

.nav-item img{
    transform: scale(0.4);
    margin-top: -13px;
}

#pills-tab {
    margin-top: 20px;
}

.nav-item a {
    color: black;
    font-size: 17px;
    font-weight: 500;
}

.tab-content {
    min-width: 733px;
    min-height: 312px;
    background: #AD7A7A22;
    border: 1px solid #707070;
    margin: 0 auto;
}

/*/my conections*/
.human-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;
}

.your-friend-1 img {
    transform: scale(0.6);
}

.your-friend-2 img {
    transform: scale(0.5);
}

.human-info h4 {
    font-size: 18px;
    font-weight: 400;
    margin-top: -15px;
    margin-bottom: 0;
}

.human-info h5 {
    font-size: 12px;
    font-weight: 700;
}

.center {
    justify-content: center;
}

.human-1 {
    margin-top: 40px;
}

.human-3 {
    margin-top: 30px;
}

.human-4 {
    position: relative;
    left: -250px;
    top: -70px;
}

.me {
    position: relative;
    top: 30px
}

.human-6 {
    position: relative;
    right: -200px;
    top: -50px;
}


.your-friend-1, .your-friend-2 {
    display: flex;
}

.human-info-2, .me {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.human-info-2 h4 {
    font-size: 18px;
    font-weight: 400;
    margin-top: -15px;
    margin-bottom: 5px;
}

.human-info-2 h5 {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 2px;
}

.last {
    margin-bottom: 7px!important;
}

.me h4 {
    font-size: 24px;
}

.me h5 {
    font-size: 12px;
}

.btn-connections {
    background: #D05656;
    border-radius: 22px;
    color: white;
    font-size: 12px;
    border: 1px solid #707070;
    padding: 2px 25px
}

.another-connect {
    margin-top: 80px;
}

.another-connect h4{
    font-size: 18px;
}

.another-connect h5{
    font-size: 12px;
}

.chat-form input[type="email"] {
    height: 50px;
    width: 89%;
    padding-left: 15px;
}


/*search*/

.search-wrp {
    background: #D05656;
    color: white;
    padding: 26px 25px 6px 20px;
}

.search-wrp h5 {
    font-size: 12px;
    padding: 10px 0;
    font-weight: 700;
}

.search-wrp h6 {
    font-size: 11px;
    margin-top: 10px;
}

.serch-sec-2 {
    display: flex;
}
.check-1, .check-2 {
    font-size: 12px;
    font-weight: 700;
}

.search-wrp input[type="text"] {
    width: 100%;
}

.search-wrp input[type="checkbox"] {
    transform: scale(1.3);
}

.check-1 input[type="checkbox"] {
    margin-right: 5px;
}

.check-2 input[type="checkbox"] {
    margin-right: 5px;
    margin-left: 15px;
}

.serch-sec-3 input[type="checkbox"]:last-child {
    margin-left: 15px;
}

.serch-sec-5 {
    font-size: 11px;
    overflow: auto;
    height: 120px;
    font-weight: 700;
    background: #B54B4B;
}

.serch-sec-5 input[type="checkbox"] {
    margin-right: 5px;
    margin-left: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.card-wrp {
    border: 1px solid #707070;
    height: max-content;
    padding: 0px  12px;
    margin: 10px 0
}

.card-wrp img {
    transform: scale(0.7);
}

.left-card, .right-card {
    display: flex;
}

.left-card {
    align-items: center;
}

.right-card button {
    padding: 3px 25px;
    color: white;
    font-size: 12px;
    background: #D05656;
    border: 1px solid #707070;
    border-radius: 22px;
    margin-top: 10px;
    margin-left: 15px;
    position: absolute;
    right: 15px;
}
.right-card button:hover {
    background: #FAC2C2;
}

.card-wrp h1 {
    font-size: 24px;
}

.card-wrp h6 {
    font-size: 12px;
}

.right-card-top, .right-card-bottom {
    padding: 11px;
}








