/* FONTS  */

@font-face {
    font-family: CochinBold;
    src: url('../fonts/CochinBold.ttf') format('ttf');
}

@font-face {
    font-family: CochinRegular;
    src: url('../fonts/CochinRegular.ttf') format('ttf');
}

@font-face {
    font-family: Futura;
    src: url('../fonts/Futura.ttf') format('ttf');
}

@font-face {
    font-family: FuturaBold;
    src: url('../fonts/FuturaBold.ttf') format('ttf');
}

@font-face {
    font-family: FuturaMedium;
    src: url('../fonts/FuturaMedium.ttf') format('ttf');
}


/* main page  */

.logo img {
    max-width: 100%;
}

button:hover,
a:hover {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.header {
    border: 1px solid #707070;
    background-color: #d05656;
    padding: 20px 14px 15px 16px;
}

.info-item img {
    max-width: 80px;
}

.header-txt {
    color: #ffffff;
    font-family: Cochin;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: -20px;
    margin-left: 33px;
    max-width: 372px;
}

.sign-in {
    color: #ffffff;

    font-size: 18px;
    font-weight: 500;
    border-radius: 44px;
    border: 1px solid #707070;
    background-color: #ff9b9b;
    padding: 11px 32px 8px 32px;
}

.nav-wrp {
    background-color: rgba(0, 0, 0, 0.25);
    padding: 12px;
}

.nav-wrp a {
    color: #000000;

    font-size: 18px;
    font-weight: 500;
    margin-right: 35px;
}

.main-contain {
    background-image: url(../img/main_bg.png);
    background-size: cover;
    padding-bottom: 30px;
}

.info-item {
    max-width: 223px;
    margin-right: 15px;
    font-family: FuturaBold;
}

.info-item .info-txt {
    color: #ffffff;
    font-family: Futura;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    font-family: FuturaBold;
}

.info-item .info-title {
    color: #ffffff;
    font-family: Futura;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    font-family: FuturaBold;
}

.info-item img {
    margin: 0 auto;
    display: block;
}

#video iframe {
    height: 258px;
    width: 376px;
}

.maim-title {
    max-width: 425px;
    font-size: 26px;
    color: #ffffff;
    font-family: CochinRegular;
}

.main-txt,
.main-text-link {
    max-width: 425px;
    color: #ffffff;
    font-family: CochinRegular;
    font-size: 18px;
}

.main-text-link a {
    color: white;
    text-decoration: underline;
}

.main-content {
    margin: 103px 0;
    padding-right: 20px;
}

.footer {
    border: 1px solid #707070;
    background-color: #d05656;
    padding: 22px 25px;
    font-family: FuturaMedium;
    font-weight: bold;
}

.footer * {
    color: #ffffff;
    font-size: 14px;
}

.title_footer {
    font-weight: bold;
    margin: 0;
    font-family: Futura;
}

.hidden {
    display: none !important;
}

.wrapper_video {
    width: 100%;
    transform: scale(0.8);
    margin-top: -40px;
}

.video-youtube {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.video-youtube.video-youtube_overlay:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 5;
}

.video-youtube .video-youtube__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/video.bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.video-youtube .video-youtube__content.video-youtube__content_hide-origin-play-btn {
    width: 10000%;
    height: 10000%;
    -webkit-transform: scale(0.01);
    transform: scale(0.01);
    -webkit-transform-origin: top left;
    transform-origin: top left;
}

.video-youtube .video-youtube__content.video-youtube__content_hide-origin-play-btn::-moz-selection {
    background-color: transparent;
}

.video-youtube .video-youtube__content.video-youtube__content_hide-origin-play-btn::selection {
    background-color: transparent;
}

.video-youtube .video-youtube__new-play-btn {
    max-width: 153px;
    max-height: 153px;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    background-image: url(../img/play.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
    cursor: pointer;
}

/* login page  */
.log_page_nav{
    background-color: #ff9b9b;
}
.log-content{
    background-image: url(../img/bg_login.jpg);
    background-size: cover;
    padding-bottom: 30px;
  

}

.form-log{
    display: flex;
    flex-direction: column;
 
    background-color: rgba(0, 0, 0, 0.33);
    padding: 35px 40px 15px 40px;
  margin: 0 auto;
}
.form-log p{
    color: #ffffff;
   
    font-size: 18px;
    font-weight: 500;
}
.form-log input{
    width: 100%;
    outline: none;
    border: none;
    height: 45px;
    padding-left: 15px;
}
.form-log a{
    text-align: center;
}
.forgot{
    margin-top: 20px;
    display: block;
}

.submit_form{
    color: #ffffff;
    font-family: Futura;
    font-size: 18px;
    font-weight: 500;
    border-radius: 44px;
    border: 1px solid #707070;
    background-color: #ff9b9b;
    padding: 11px 32px 8px 32px;
    margin-top: 20px;
    width: 80%;
    margin: 0 auto;
    display: block;
    margin-top: 25px;
}

.form-header{
    background-color: #d05656;
    margin-top: 110px;
    color: #ffffff;
    padding: 17px 0 17px 15px;

font-size: 18px;
font-weight: 500;
text-transform: uppercase;
}
.form-footer
  {
 height: 60px;
    background-color: #d05656;
    margin-bottom: 110px;
}
/* login page  */

/* account page  */

.name_header{
    text-transform: uppercase;
    padding-top: 13px;
  
}
.acount-wrapper p{
    margin: 0;
    color: #ffffff;
    padding-right: 12px;
font-size: 18px;
font-weight: 500;
text-align: right;

}

.account-header{
    text-align: center;
    color: #000000;

font-size: 32px;
font-weight: 700;
text-transform: uppercase;
padding-top: 70px;
padding-bottom: 25px;
}

.col-title-acount{
    color: #000000;

font-size: 23px;
font-weight: 700;
text-transform: uppercase;
padding-bottom: 15px;
}

.col-txt{
    color: #3b8caa;

font-size: 14px;
font-weight: 500;
}

.col-txt-bold{
    color: #000000;

font-size: 18px;
font-weight: 500;
}

.col-txt-light{
    color: #000000;

    font-size: 12px;
    font-weight: 500;
}

.go_to_news{
    color: #3b8caa;

    font-size: 15px;
    font-weight: 500;  
}


.acount-info p{
    margin: 0;
}

.go_to_news{
    margin-top: 6px;
}


.middle-box{
    border-left:1px solid #707070;
    border-right : 1px solid #707070;
}

.name-massage{
    color: #000000;
padding-top: 8px;
font-size: 18px;
font-weight: 500;
text-transform: uppercase;
}

.name-massage span{
    font-size: 13px;
    padding-left: 10px;
}

.col-txt-massage{
    font-size: 12px;
    color: #000000;
    padding-top: 8px;
    padding-bottom: 10px;
}

.acount-info .col-xl-4{
    padding: 0px 30px;
}

.account-cont{
    padding-bottom: 100px;
    background-image: url(../img/accont-bg.png);
    background-size: cover;
}

.help-cont{
    margin-top: 150px;
    display: flex;
    align-items: center;
    color: #000000;
text-align: right;
font-size: 18px;
font-weight: 500;
margin-right: 50px;
}

.help-cont img{
    width: 90px;
   margin-left: 40px;
}

.resp{
    color: #3b8caa;

    font-size: 15px;
    font-weight: 500;  
}

/* account page  */